[submodule "UI/ColorMatchTabs"]
	path = UI/ColorMatchTabs
	url = https://github.com/austinzmchen/ColorMatchTabs.git
[submodule "UI/RZTransitions"]
	path = UI/RZTransitions
	url = https://github.com/austinzmchen/RZTransitions.git
[submodule "UI/CustomPageTabs"]
	path = UI/CustomPageTabs
	url = git@github.com:austinzmchen/CustomPageTabs.git
